.header-container{
  display: flex;
  justify-content: space-between;
  background-color: rgb(147,147,147);
  font-weight: 300;

}

.bold{
  font-weight: 600;
  background-color: black;
  color: white;
}

.header-language__btn{
  margin: 10px;
  padding: 5px 10px;
  border-radius: 16px;
  padding: 10px 15px;
  font-size: 15px;
}

.header-title{
  margin: 10px;

}
