*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'montseratt', sans-serif;
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75));
  padding: 25px
}

.location-box .location{
  color: black;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.location-box .date{
  color: black;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  padding: 15px 25px;
  color: black;
  font-size: 20px; 
  text-align: center;
}

.temp-actual{
  margin: 30px auto;
  font-size: 50px;
  background-color: rgba(255,255,255,0.2); 
  border-radius: 16px;
  padding: 15px 25px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50,50,70,0.5);
  box-shadow: 3px 6px rgba(0,0,0,0.2);
  text-align: center;
}

.weather-box .weather{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:#fff;
  font-size: 40px;
  font-weight: 300;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}

.weather-icon{
  width:90px;
  height: 90px;
}